<div
  id="page"
  class="flex h-screen w-full place-content-center bg-neutral-100 px-6 py-8"
>
  <div id="content" class="h-full w-full xl:w-4/5">
    <div id="header" class="flex h-14 w-full justify-between">
      <div
        id="logo"
        class="flex w-32 cursor-default items-center gap-2 text-2xl text-emerald-600"
      >
        <div
          class="flex size-10 items-center justify-center rounded-full bg-emerald-600 font-extrabold text-white"
        >
          M
        </div>
        <span>Mulih</span>
      </div>
      <nav class="flex items-center gap-8">
        <a
          class="group relative flex flex-col items-center text-lg"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            class="text-neutral-500 transition-all duration-300 group-hover:text-emerald-500 group-[.active]:-translate-y-1/4 group-[.active]:text-emerald-600 group-[.active]:group-hover:text-emerald-500"
            >Home</span
          >
          <div
            class="absolute top-1/2 size-2 justify-center rounded-full opacity-0 transition-all duration-300 group-hover:bg-emerald-500 group-[.active]:block group-[.active]:translate-y-full group-[.active]:bg-emerald-600 group-[.active]:opacity-100 group-[.active]:group-hover:bg-emerald-500"
          ></div
        ></a>
        <a
          class="group relative flex flex-col items-center text-lg"
          routerLink="/property"
          routerLinkActive="active"
          ><span
            class="text-neutral-500 transition-all duration-300 group-hover:text-emerald-500 group-[.active]:-translate-y-1/4 group-[.active]:text-emerald-600 group-[.active]:group-hover:text-emerald-500"
            >Property</span
          >
          <div
            class="absolute top-1/2 size-2 justify-center rounded-full opacity-0 transition-all duration-300 group-hover:bg-emerald-500 group-[.active]:block group-[.active]:translate-y-full group-[.active]:bg-emerald-600 group-[.active]:opacity-100 group-[.active]:group-hover:bg-emerald-500"
          ></div>
        </a>
        <a
          class="group relative flex flex-col items-center text-lg"
          routerLink="/about"
          routerLinkActive="active"
          ><span
            class="text-neutral-500 transition-all duration-300 group-hover:text-emerald-500 group-[.active]:-translate-y-1/4 group-[.active]:text-emerald-600 group-[.active]:group-hover:text-emerald-500"
            >About</span
          >
          <div
            class="absolute top-1/2 size-2 justify-center rounded-full opacity-0 transition-all duration-300 group-hover:bg-emerald-500 group-[.active]:block group-[.active]:translate-y-full group-[.active]:bg-emerald-600 group-[.active]:opacity-100 group-[.active]:group-hover:bg-emerald-500"
          ></div
        ></a>
        <a
          class="group relative flex flex-col items-center text-lg"
          routerLink="/service"
          routerLinkActive="active"
          ><span
            class="text-neutral-500 transition-all duration-300 group-hover:text-emerald-500 group-[.active]:-translate-y-1/4 group-[.active]:text-emerald-600 group-[.active]:group-hover:text-emerald-500"
            >Service</span
          >
          <div
            class="absolute top-1/2 size-2 justify-center rounded-full opacity-0 transition-all duration-300 group-hover:bg-emerald-500 group-[.active]:block group-[.active]:translate-y-full group-[.active]:bg-emerald-600 group-[.active]:opacity-100 group-[.active]:group-hover:bg-emerald-500"
          ></div
        ></a>
        <a
          class="group relative flex flex-col items-center text-lg"
          routerLink="/contact"
          routerLinkActive="active"
          ><span
            class="text-neutral-500 transition-all duration-300 group-hover:text-emerald-500 group-[.active]:-translate-y-1/4 group-[.active]:text-emerald-600 group-[.active]:group-hover:text-emerald-500"
            >Contact</span
          >
          <div
            class="absolute top-1/2 size-2 justify-center rounded-full opacity-0 transition-all duration-300 group-hover:bg-emerald-500 group-[.active]:block group-[.active]:translate-y-full group-[.active]:bg-emerald-600 group-[.active]:opacity-100 group-[.active]:group-hover:bg-emerald-500"
          ></div
        ></a>
      </nav>
      <div class="flex h-full gap-4 place-self-end">
        <button
          class="h-full w-32 text-emerald-600"
          (click)="this.clerk.openSignIn()"
          *ngIf="!this.clerk.user"
        >
          Sign in
        </button>
        <button
          class="h-full w-32 text-emerald-600"
          (click)="this.clerk.signOut()"
          *ngIf="this.clerk.user"
        >
          Sign out
        </button>
      </div>
    </div>
    <main class="mt-32">
      <div id="mydiv"></div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
