<h1 class="w-full font-rubik text-6xl font-semibold leading-[74px] lg:w-2/3">
  Let's hunt for your dream residence
</h1>
<p class="mt-6 w-full leading-6 text-slate-500 lg:w-1/2">
  Explore our range of beautiful properties with the addition of seperate
  accommodation suitable for you.
</p>
<div class="flex flex-col pt-10">
  <ul class="flex">
    <li
      class="flex h-14 w-28 cursor-pointer items-center justify-center px-4 py-2 text-neutral-400"
      [ngClass]="{
        'bg-white text-emerald-500': this.getActiveTab() === 0,
        'text-neutral-400': this.getActiveTab() !== 0
      }"
      (click)="toggleTab(0)"
    >
      <a class="text-2xl font-medium">Buy</a>
    </li>
    <li
      class="flex h-14 w-28 cursor-pointer items-center justify-center px-4 py-2 text-neutral-400"
      [ngClass]="{
        'bg-white text-emerald-500': this.getActiveTab() === 1,
        'text-neutral-400': this.getActiveTab() !== 1
      }"
      (click)="toggleTab(1)"
    >
      <a class="text-2xl font-medium">Rent</a>
    </li>
  </ul>
  <div class="relative flex w-full lg:w-2/3">
    <div
      class="absolute inset-y-0 left-0 shadow-lg transition-[width]"
      [style.transition-duration.ms]="this.animationDuration"
      [ngClass]="{
        'w-0': this.isCollapsing(),
        'w-full': !this.isCollapsing()
      }"
    ></div>
    <div
      class="absolute inset-y-0 right-0 bg-neutral-100 transition-[width]"
      [style.transition-duration.ms]="this.animationDuration"
      [ngClass]="{
        'w-full': this.isCollapsing(),
        'w-0': !this.isCollapsing()
      }"
    ></div>
    <div
      class="flex w-full overflow-hidden bg-white"
      [ngClass]="{ hidden: isTabHidden(0) }"
    >
      <div class="flex h-full w-full flex-wrap justify-between gap-10 p-8">
        <div class="flex w-full flex-col md:w-auto">
          <label class="h-1/2 text-slate-800">Location</label>
          <select class="h-1/2 cursor-pointer pr-2 text-neutral-400">
            <option>Bogor, Jawa Barat</option>
          </select>
        </div>
        <div class="flex w-full flex-col md:w-auto">
          <label class="h-1/2 text-slate-800">Type</label>
          <select class="h-1/2 cursor-pointer pr-2 text-neutral-400">
            <option>Home</option>
          </select>
        </div>
        <div class="flex w-full flex-col md:w-auto">
          <label class="h-1/2 text-slate-800">Price Range</label>
          <select class="h-1/2 cursor-pointer pr-2 text-neutral-400">
            <option>$100-$200</option>
            <option>$200-$350</option>
          </select>
        </div>
        <div class="w-full lg:w-auto lg:grow">
          <button
            class="h-full w-full rounded-md bg-emerald-500 px-6 py-4 align-middle font-medium text-white transition-colors hover:bg-emerald-600"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div
      class="h-32 overflow-hidden text-nowrap bg-white"
      [ngClass]="{ hidden: this.isTabHidden(1) }"
    >
      <div class="flex h-full w-full justify-between gap-10 p-8">
        <p>
          rent rent rent rent rent rent rent rent rent rent rent rent rent rent
          rent rent rent rent rent rent rent rent rent rent rent rent rent rent
          rent rent rent rent rent rent rent rent rent rent rent rent rent rent
        </p>
      </div>
    </div>
  </div>
</div>
